@import 'styles/color.scss';

.bar {
	background: $background;
    font-family: FantasqueSansM Nerd Font;
    border-radius: 10px;
	padding: 5px 10px;
    color: $foreground;
    font-size: 1.1em;
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  highlight {
      border: none;
  }
  slider {
      all: unset;
      box-shadow: none;
      transition: none;
      min-height: 0.5em;
      border: none;
      min-width: 10px;
      border-radius: 5px;
      &.disabled {
          box-shadow: none;
      }
    }
}

@import 'styles/mpd.scss';
@import 'styles/workspace.scss';
@import 'styles/volume.scss';
@import 'styles/datetime.scss';
@import 'styles/backlight.scss';
@import 'styles/battery.scss';
@import 'styles/ram.scss';
@import 'styles/net.scss';

