.backlight {
    color: $cyan;

    .icon {
        font-size: 1.1em;
    }
    scale {
		font-size: 0.7em;
        margin-right: 0;
        trough {
            border: 2px solid $cyan;
            highlight {
				border-radius: 0;
                background-color: $cyan;
            }
        }
    }
}
