.datetime {
    font-size: 1.1em;
    
    .time {
        font-weight: bold;
        color: $green;
    }
    
    .date {
        color: $yellow;
    }

    .second {
        color: $pink;
        font-size: 0.9em;
    }

}
