.dict {
    padding: 15px;
    background-color: $background-darker;
    // .top-frame {
    //     min-height: 40px;
    //     margin-bottom: 10px;
    // }

    // .main-frame {
    //     min-height: 650px;
    //     min-width: 900px;

    //     .side-frame {
    //         min-width: 400px;
    //     }

    //     .view-frame {
    //         min-width: 600px;
    //     }
    // }

    .history-frame,
    .search-candidate,
    .view-frame{
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $background;
    }

    
}
