.power {
    .critical-icon {
        color: $red;
    }
    .items {
        .item {
            .name {
                font-size: 0.8em;
                color: $yellow;
                font-weight: bold;
                min-width: 1px;
            }
            progressbar {
                margin: 0 10px;
                padding-right: 10px;
                margin-right: 0;
                trough {
                    min-width: 5px;
                    margin-bottom: 10px;
                    
                    border-radius: 5px;
                    border: 2px solid $yellow;
                    background: none;
                    
                    progress {
                        border-radius: 0;
                        background-color: $yellow;
                        
                    }
                }
            }
        }
    }
}


