.system {
    font-size: 1.3em;
    margin-left: 50px;
    
    .icon {
        color: $purple;
    }

    .item {
        padding-left: 6px;
        padding-right: 4px;
        font-size: 0.6em;
        border-radius: 5px;
    }
}
