.user {
    .box {
        margin-left: 20px;
        padding-top: 2px;
    }
    .poweroff {
        color: $red;
        
    }
    .reboot {
        color: $green;
    }
    .lock {
        color: $orange;
    }
    .logout {
        color: $yellow;
    }

    .suspend {
        color: $cyan;
    }
}
