.weather {
    font-size: 1.9em;
    color: $pink;
    
    .items {
        
        padding-right: 3px;
        .item {
            padding-left: 1px;
            padding-right: 1px;
        
        }
    }
}
