.workspace {

	.item {
        color: $comment;
        
        &.window {
            color: $foreground;
            
            &:hover {
                background-image: linear-gradient($background-darker, $background, $selection, $pink);
            }
            
            &.current {
                color: $pink;

                &:hover {
                    background: none;
                }
            }
        
        }
	}
}
